{% extends 'base.html' %} 
{% load static %}
{% block content %}
    <form action="/usuario/" method="">
    {% csrf_token %}
    <fieldset>
        <legend> <h1>{{ usuarios.user_name }}</h1></legend>
  
        <img src = "{% static usuarios.image %}" height="200" width="200" class="d-inline-block align-top">
           
            <div align=left id="Chat" style="width:400px; height:400px; overflow: scroll;"> 
                
                
            </div>
           
           </div> 
            <br>
            <br>
            <br>
           <div align=left id="conversaciones" style="width:400px; height:400px; overflow: scroll;">
                
                
           </div>
            

        </fieldset>
        <br>
        <br>
        
        <a href="{% url 'registro_conversacion'  %} " class="btn btn-info text-white w-100 mt-0 fw-semibold shadow-sm" >Nuevo Mensaje</a>
        <script type="module" src="{% static 'cc.js' %}"></script>
      
    </form>
       
    
    
    
    
    
{% endblock %}