{% extends 'base.html' %} 

{% block content %}
    <form action="/registroconversacion/" method="">
    {% csrf_token %}
    <fieldset>
        <legend> <h1>{{ usuarios }}</h1></legend>
  
            
           
            <div align=left id="Chat" style="width:400px; height:400px; overflow: scroll;"> 
                
                
            </div>
           
           </div> 
            <br>
            <br>
            <br>
           <div align=left id="conversaciones" style="width:400px; height:400px; overflow: scroll;">
                
                
           </div>
            

        </fieldset>
        <br>
        <br>
        <input type="submit" value="Nuevo Mensaje">
        
    </form>
       
    
    
    
    
    
{% endblock %}